
* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  overflow: auto;
}

.editor iframe {
  overflow: auto;
  height: 100%;
}

/* IMPORTANT: stop parent from eating scroll in preview */
.editor {
  overflow: hidden;
}
@media (max-width: 768px) {
  .hm {
    flex-direction: column;
    gap: 10px;
  }
  .left, .right {
    width: 100%;
    height: auto;
  }
  .editor{
    min-height: 55vh;
  }
  .editor Editor{
    min-height: 50vh;
  }
  .editor iframe{
    min-height: 50vh;
  }
  .skeleton {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

textarea, input, iframe {
  max-width: 100%;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--primary-bg);
  color: #fff;
}

:root{
  --primary-bg:#09090B;
  --secondary-bg:#141319;
  --tertiary-bg: #17171C;
}



.sp-text{
  /* color: rgb(168, 86, 244); */
  background: linear-gradient(
    90deg,
    #efd5ff 0%,
    #515ada 100%
  );

  background-clip: text;          /* Standard property */
  -webkit-background-clip: text;  /* Vendor prefix for WebKit browsers */

  color: transparent;             /* Standard way */
  -webkit-text-fill-color: transparent; /* WebKit way */
}
html{
  overflow-x: hidden;
}
.icon{
  padding: 10px;
  font-size: 20px;
  border: 1px solid #1f2937;
  background-color: var(--secondary-bg);
  border-radius: 10px;
  cursor: pointer;
}

@media (min-width: 640px) {
  .icon {
    padding: 15px;
  }
}
.hm {
  padding: 20px;
}
.left, .right {
  padding: 20px;
  margin-top: 5px;
}
.lt{
  padding: 4px;
  margin-top: 4px;
}
.leftSelect{
  color: #515ada;
}
